doctype html
html(lang="fr")
    head
        title Docs
    body
        h1 Docs
        form(action="add", method="post")
            label Title:
            input(type="text", name="title")
            input(type="submit", value="Add a new doc")
        ul
            - for(doc in docs) {
                li
                    a(href="d/#{docs[doc].id}/edit")= docs[doc].title
                    | &nbsp;- (
                    a(href="delete/#{docs[doc].id}") delete
                    | )
            - }
